body {
  background-color: ghostwhite;
  color: lime;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 20px 10px 20px;
}

h1 {
  color: darkgreen;
  font-size: 36px;
}
p,li  {
	font-size: 18px;

}

a{
color: aqua;

}

#paragraf1{
	font-size: 18px;

}

#profile-pic {
  height: 70px;
  vertical-align: middle;
}


#header {
	color: black;
	border: 2px solid teal;
	padding: 20px;
	font-size: 50px;
	font-weight: bold;

}

#navigation a {
	color: black;
	float: right;
	text-align: center;
	padding: 15px;
	font-size: 35px;
	text-decoration: none;



}

.content {
	padding: 15px 50px 15px 50px;


}

